@mixin largeMobiles{
  @media only screen and (max-width: 540px) {
    .banner_title {  @include boxModel(85%);}

    .learn_more,.gallery_items {  @include flex(false,false,false,center,column);}

    .learn , .gallery .item,.gallery .title {  @include boxModel(80%);}

    .learn:nth-child(1) {  margin: 25px 0;}

    .gallery .item:nth-child(odd) {  margin-right: 0;}

    .menu {   padding-left: 0;}
    
    .learn_description {  @include font(false,false,false,false,false,center);}

    .maximus .title {  @include boxModel(90%); }
}

}