@mixin tablet {

@media only screen and (max-width: 768px) {
  .navigation {
    @include boxModel(100%);
    @include position(absolute,80px,false,false,0);
    @include flex(false,false,center,center,column);
  }
  .nav_item {
    @include boxModel(100%);
    @include display(none);
      background-color: map.get($colors,"black");
      opacity: .6;
      @include font(false,false,false,false,false,center);
  }
  .nav_item:nth-child(2) {
      border: 1px solid #fff;
      border-left: transparent;
      border-right: transparent;
      margin: 0;
  }
  .menu {
      padding-left: 7%;
      @include display(block);
      @include font(map.get($colors,"white"));
  }
  .menu::before {
    @include icon('\f0c9');
  }

  .menu:hover::before {
    @include icon('\f00d');
  }

  .menu:hover .navigation .nav-item {
    @include display(block);
  }

  .learn .sub_title, .maximus .description {
    @include font(false,false,false,false,false,center);
  }
  .information .learn .more_title,.maximus .title  {
      @include boxModel(80%);
  }

  .link {
      margin-right: 5%;
  }

  .copyright {
       @include boxModel(100%);
       @include font(false,false,false,false,false,center);
  }
  .gallery_item:nth-child(odd) {
      margin-right: 2%;
  }
}

}