@mixin banner {
  .banner {
    padding: 230px 0 35px 0;

    @include backgroundImage("../images/slide01.jpg",rgba(0, 0, 0, 0.4),true);

    &_description {
      padding-bottom: 30px;
      @include font(map.get($colors,"white_shade"),false,16px,false,uppercase,center);
      letter-spacing: 1px;
    }
  
    &_description span {   @include font(map.get($colors,"white"));}
  
    &_title {
      @include boxModel(23%);
      padding: 15px 0;
     border-bottom:solid #fff;
      @include font(map.get($colors,"white"),false,100px,400,false,center);
    }
  }

  .carousel-controls {
    padding-top: 170px;
    @include flex(true,false,center);
    .carousel-control {  margin: 0 15%;}  
  }

  .control {
    padding: 6px;
    @include border(none,50%);
    background-color: #656565;
     @include font(map.get($colors,"white"),false,100px,400,false,center);
    text-indent: -9999px;
  }

  .control:hover , .control-active{  background-color: #fff;}

  .learn-more {  @include display}

}