@mixin header {

  .header {
    @include boxModel(100%);
    width: 100%;
    padding: 35px 0;
    @include position(absolute, 0);

    &__navigation {
      @include flex(true);
      flex: 1;
    }

    &__nav-item {
      a {
        @include font(map.get($colors, "white"), false, 16px, false, capitalize);

        :hover {
          @include font(map.get($colors, "blueShade"));
        }
      }

      :nth-child(2) {
        margin: 0 10%;
      }
    }

    .active {
      a {
        @include font(map.get($colors, "blueShade"));
      }
    }

    .logo {
      @include boxModel(75%);
      padding: 0 1%;
      @include font(map.get($colors, "whiteShade"), false, 14px);

      span:nth-last-child(1) {
        @include font(false, false, false, 700, uppercase);
      }
    }

    @include responsive(map.get($devices, "ipad")) {
      .navigation {
        @include boxModel(100%);
        @include position(absolute, 80px, false, false, 0);
        @include flex(false, false, center, center, column);
      }
    

        &__nav-item {
          @include boxModel(100%);
          @include display(none);
          background-color: map.get($colors, "black");
          opacity: .6;
          @include font(false, false, false, false, false, center);
      
          &:nth-child(2) {
            border: 1px solid #fff;
            border-left: transparent;
            border-right: transparent;
            margin: 0;
          }
        }
    
      .menu {
        padding-left: 7%;
        @include display(block);
        @include font(map.get($colors, "white"));
        text-indent: -9999px;
    
        &::before {
          @include icon('\f0c9',true);
        }
    
        &:hover::before {
          @include icon('\f00d',true);
        }
        
        &:hover .navigation .nav-item {
          @include display(block);
        }
      }
    }
    
  }
  
}

.menu {
  @include display(none);
}

.highlight {
  @include font(map.get($colors, "white"), false, 20px, 400);
}

.navbar {
  @include flex(true);
}
