@mixin header {
  .header {
    @include boxModel(100%);
    width: 100%;
    padding: 35px 0;
    @include position(absolute, 0);

    .menu {  @include display(none);}

    .navbar,
    .navigation {  @include flex(true);}

    .navigation {  flex: 1;}

    .nav_item {
       a { 
        @include font(map.get($colors,"white"),false,16px,false,capitalize);
      }
      a:hover{ @include font(map.get($colors,"blueShade"));}
    }
    .active a { @include font(map.get($colors,"blueShade"));}
    .nav_item:nth-child(2) {  margin: 0 10%;}

    .logo {

      @include boxModel(75%);
      padding: 0 1%;
      @include font(map.get($colors,"whiteShade"),false,14px);

      span:nth-last-child(1) { @include font(false,false,false,700,uppercase);}
    }

    .highlight { @include font(map.get($colors,"white"),false,20px,400);}


  }

}