@mixin maximus {
  .maximus {
    padding: 90px 0 82px 0;
    @include backgroundImage("../images/bg.jpg", rgba(0, 0, 0, .8), true);

    .wrapper {
      @include flex(true, false, center, center);
    }

    &__description {
      padding-bottom: 15px;
      @include font(map.get($colors, "white"), false, 12px, false, uppercase);
      letter-spacing: .2em;
    }

    &__title {
      @include boxModel(49%);
      padding: 10px 0;
      border-top: 1px solid #fff;
      @include font(map.get($colors, "white"), false, 28px, false, false, center);
    }
  }
}

@include responsive(map.get($devices, "ipad")) {
  .maximus {
    &__description {
      @include font(false, false, false, false, false, center);
    }

    &__title {
      @include boxModel(80%);
    }
  }
}

@include responsive(map.get($devices, "largePhone")) {
  .maximus {
    &__title {
      @include boxModel(90%);
    }
  }

}


@include responsive(map.get($devices, "mediumPhone")) {
  .maximus {
    &__title {  @include boxModel(100%);}
  } 

}