$autoMargin : 0 auto;
$devices:("desktop":"1024px","tablet":"995px","ipad":"768px","largePhone":"540px","mediumPhone":"480px","smallPhone":"320px");
$colors : ("blackShade":#454545,"black":#000,"white":#fff,"grey":#656565,"blueShade":#034c55,
"whiteShade":#a2a899,"red":#f00);
 